body{
    background-color: rgb(237, 186, 194);
    font-family: Arial, Helvetica, sans-serif;
    position: flex;
    margin-top: 10%;
    margin-left: 40%;
}
.heading{
    font-size:150%;
}
.info{
    font-size: 150%;
}
.tooltip {
    position: relative;
    display: block;
  }
  
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 2;
    bottom: 125%;
    left: 10%;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }